<%= form_for [person, name] do |name_form| %>
  <% if name.errors.any? %>
    <div class="alert alert-warning" id="error_explanation">
      <h2><%= pluralize(name.errors.count, "error") %> prohibited this name from being saved:</h2>

      <ul>
      <% name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-12">
      <%= name_form.label :core_name_type_id, 'Type' %>
      <%= name_form.select(:core_name_type_id, CoreNameType.all.collect { |cnt| [cnt.display, cnt.id] }, {disabled: @cnt}, {class: 'form-control'}) %>
      <small class="form-text">Disabled name type? You're editing or it already exists! Click <%= link_to 'back', person_person_names_path %> to find or create it.</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 col-md-4">
      <%= name_form.label :first %>
      <%= name_form.text_field :first, class: 'form-control' %>
    </div>
    <div class="form-group col-12 col-md-4">
      <%= name_form.label :middle %>
      <%= name_form.text_field :middle, class: 'form-control' %>
    </div>
    <div class="form-group col-12 col-md-4">
      <%= name_form.label :last %>
      <%= name_form.text_field :last, class: 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= name_form.submit nil, class: 'btn' %>
    <%= link_to 'Back', person_person_names_path, {class: 'btn'} %>
  </div>
<% end %>
