<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :person_names, @person.person_names do |name| %>
    <%= name.label :first %>
    <%= name.text_field :first %>
    <%= name.label :middle %>
    <%# <%= name.text_field :middle %> %>
    <%= name.label :last %>
    <%= name.text_field :last %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
