<h1 class="display-4">ID: <%= @person.id %></h1>
<div class="card">
  <div class="card-body d-flex row align-items-center">
    <h5 class="card-title d-inline-block col mr-auto">
      <%= @lpname.first %>
      <%= @lpname.middle %>
      <%= @lpname.last %>
    </h5>
    <%= link_to 'Names', person_person_names_path(@person), {class: 'btn'} %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item align-items-center">
      <em class="show-label">Birthdate: </em>
      <span>
        <%= @demography.birthdate %>
        <% if @demography.alt_birthdate %>
          (alt: <%= @demography.alt_birthdate %>)
        <% end %>
      </span>
    </li>
    <li class="list-group-item align-items-center">
      <em class="show-label">Sex: </em>
      <span>
        <%= @demography.core_sex.display %>
      </span>
    </li>
    <li class="list-group-item align-items-center">
      <em class="show-label">Gender: </em>
      <span>
        <%= @demography.core_gender.display %>
        <% if @demography.gender_description.length > 0 %>
          "<%= @demography.gender_description %>"
        <% end %>
      </span>
    </li>
  </ul>
</div>
<div>
  <%= link_to 'Edit', edit_person_path(@person), {class: 'btn'} %>
  <%= link_to 'Back', people_path, {class: 'btn'} %>
</div>
<p id="notice">
  <br>
  <%= notice %>
</p>
