<h1 class="display-4">New Photo for ID: <%= @person.id %></h1>

<%= form_for [@person, @photo] do |photo_form| %>
  <% if @photo.errors.any? %>
    <div class="alert alert-warning" id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-12 col-md-4">
      <%= photo_form.label :image %>
      <%= photo_form.file_field :image, class: 'form-control' %>
    </div>
    <div class="form-group col-12 col-md-4">
      <%= photo_form.label :current %>
      <%= photo_form.check_box :current, class: 'form-control' %>
    </div>
    <div class="form-group col-12 col-md-4">
      &nbsp;
    </div>
  </div>
  <div class="actions">
    <%= photo_form.submit nil, class: 'btn' %>
    <%= link_to 'Back', person_person_photos_path, {class: 'btn'} %>
  </div>
<% end %>
